<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    
    <add name="SQLMembershipConnString" providerName="System.Data.SqlClient" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=AzzziDB;Data Source=AY130901074712Z;" />
    <add name="SQL_Product_ConnString" providerName="System.Data.SqlClient" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=AzzziDB;Data Source=AY130901074712Z;" />
    <add name="SQL_Inventory_ConnString" providerName="System.Data.SqlClient" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=AzzziDB;Data Source=AY130901074712Z;" />
    <add name="SQL_Order_ConnString" providerName="System.Data.SqlClient" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=AzzziDB;Data Source=AY130901074712Z;" />
    <add name="SQL_Profile_ConnString" providerName="System.Data.SqlClient" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=AzzziDB;Data Source=AY130901074712Z;" />
    
    <!--<add name="SQLMembershipConnString" providerName="System.Data.SqlClient" connectionString="Data Source=10.23.36.78;Initial Catalog=MSPetShop4Services;Persist Security Info=True;User ID=sa;Password=wangbo123456"/>
    <add name="SQL_Product_ConnString" providerName="System.Data.SqlClient" connectionString="Data Source=10.23.36.78;Initial Catalog=MSPetShop4;Persist Security Info=True;User ID=sa;Password=wangbo123456"/>
    <add name="SQL_Inventory_ConnString" providerName="System.Data.SqlClient" connectionString="Data Source=10.23.36.78;Initial Catalog=MSPetShop4;Persist Security Info=True;User ID=sa;Password=wangbo123456"/>
    <add name="SQL_Order_ConnString" providerName="System.Data.SqlClient" connectionString="Data Source=10.23.36.78;Initial Catalog=MSPetShop4Orders;Persist Security Info=True;User ID=sa;Password=wangbo123456"/>
    <add name="SQL_Profile_ConnString" providerName="System.Data.SqlClient" connectionString="Data Source=10.23.36.78;Initial Catalog=MSPetShop4Profile;Persist Security Info=True;User ID=sa;Password=wangbo123456"/>-->

  </connectionStrings>
  <appSettings>
		<!-- Pet Shop DAL configuration settings. Possible values: TuanStu.SQLServerDAL for SqlServer, TuanStu.OracleServerDALfor Oracle. -->
		<add key="WebDAL" value="TuanStu.SQLServerDAL"/>
		<add key="OrdersDAL" value="TuanStu.SQLServerDAL"/>
		<add key="ProfileDAL" value="TuanStu.SQLProfileDAL"/>
		<!-- Enable data caching -->
		<add key="EnableCaching" value="true"/>
		<!-- Cache duration (in hours-whole number only) -->
		<add key="ShopCacheDuration" value="12"/>
		<add key="ItemCacheDuration" value="12"/>
		<!-- Cache dependency options. Possible values: TuanStu.TableCacheDependency for SQL Server and keep empty for ORACLE -->
		<add key="CacheDependencyAssembly" value="TuanStu.TableCacheDependency"/>
		<!-- CacheDatabaseName should match the name under caching section, when using TableCacheDependency -->
		<add key="CacheDatabaseName" value="TuanStuCache"/>
		<!-- *TableDependency lists table dependency for each instance separated by comma -->
		<add key="ShopTableDependency" value="Shop"/>
		<add key="ItemTableDependency" value="Shop,Item"/>
		<!-- Order processing options (Asynch/Synch) -->
		<add key="OrderStrategyAssembly" value="TuanStu.BLL"/>
		<add key="OrderStrategyClass" value="TuanStu.BLL.OrderSynchronous"/>
		<!-- Asynchronous Order options -->
		<add key="OrderMessaging" value="TuanStu.MSMQMessaging"/>
		<add key="OrderQueuePath" value="FormatName:DIRECT=OS:MachineName\Private$\PSOrders"/>
		<add key="OrderQueueSnacksPath" value="FormatName:DIRECT=OS:MachineName\Private$\PSOrders"/>
		<add key="OrderQueueArticlePath" value="FormatName:DIRECT=OS:MachineName\Private$\PSOrders"/>
		<!-- Application Error Log -->
		<add key="Event Log Source" value="TuanStu.Web"/>
		<add key="AdImgUrl" value="\Images\Advertisments\"/>
		<add key="UserImgUrl" value="\Images\UserPics\"/>
		<add key="ItemImgUrl" value="\Images\ItemPics\"/>
		<add key="ShopImgUrl" value="\Images\ShopPics\"/>
		<add key="CouponImgUrl" value="\Images\CouponPics\"/>
		<add key="UpLoadSizeLimit" value="200" /><!--单位：kb-->
		<add key="ApplicationName" value="TuanStu.Web"/>
		<add key="HomeTopAdvertCount" value="5"/>
		<add key="ShopAdvertCount" value="9"/>
		<add key="WeiboId" value="3796327865"/>
	  <add key="msmUrl" value="http://dxhttp.c123.cn/tx/"/>
	  <add key="msmUsername" value="500751130001"/>
	  <add key="msmPassword" value="nww62100481"/>
  </appSettings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Forms">
      <!--<forms loginUrl="~/Account/Login.aspx" timeout="2880" defaultUrl="~/"/>-->
		<forms loginUrl="~/ErrorPage/imsorry.html"></forms>
    </authentication>
    <anonymousIdentification enabled="true"/>
    <profile automaticSaveEnabled="false" defaultProvider="ShoppingCartProvider">
      <providers>
        <add name="ShoppingCartProvider" connectionStringName="SQLProfileConnString" type="TuanStu.Profile.TuanStuProfileProvider" applicationName="TuanStu.Web"/>
        <add name="FavoriteProvider" connectionStringName="SQLProfileConnString" type="TuanStu.Profile.TuanStuProfileProvider" applicationName="TuanStu.Web"/>
        <add name="AccountInfoProvider" connectionStringName="SQLProfileConnString" type="TuanStu.Profile.TuanStuProfileProvider" applicationName="TuanStu.Web"/>
      </providers>
      <properties>
        <add name="ShoppingCart" type="TuanStu.BLL.Cart" allowAnonymous="true" provider="ShoppingCartProvider"/>
        <add name="FavoriteList" type="TuanStu.BLL.Favorite" allowAnonymous="true" provider="FavoriteProvider"/>
        <add name="AccountInfo" type="TuanStu.Model.AccountInfo" allowAnonymous="false" provider="AccountInfoProvider"/>
        <add name="UserId" type="Int" allowAnonymous="false" provider="AccountInfoProvider"/>
      </properties>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="SQLMembershipConnString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="TuanStu.Web"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="DefaultRoleProvider">
      <providers>
        <add connectionStringName="SQLMembershipConnString" applicationName="TuanStu.Web" name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="SQLMembershipConnString"/>
      </providers>
    </sessionState>
    <caching>
      <sqlCacheDependency enabled="false" pollTime="10000">
        <databases>
          <add name="TuanStuCache" connectionStringName="SQL_Product_ConnString" pollTime="10000"/>
        </databases>
      </sqlCacheDependency>
    </caching>
    <customErrors mode="RemoteOnly" defaultRedirect="~/ErrorPage/ErrorOperate.aspx">
      <error statusCode="404" redirect="~/ErrorPage/PageNotFound.aspx"></error>
    </customErrors>
    </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<!--<location path=".">
	<system.web>
		<authorization>
			<allow roles="Administrator"/>
			<deny users="*"/>
		</authorization>
	</system.web>
	</location>
  <location path="Manage">
    <system.web>
      <authorization>
        <allow roles="Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CommonInterface">
    <system.web>
      <authorization>
        <allow roles="Administrator"/>
        <allow roles="ShopManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->
</configuration>